<?xml version="1.0"?>
<robot name="dual_crx" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:arg name="left_xyz" default="0.0 0.3 0.0"/>
  <xacro:arg name="left_rpy" default="0.0 0.0 0.0"/>
  <xacro:arg name="right_xyz" default="0.0 -0.3 0.0"/>
  <xacro:arg name="right_rpy" default="0.0 0.0 0.0"/>

  <xacro:include filename="$(find fanuc_crx_description)/urdf/crx5ia_urdf_macro.xacro"/>

  <link name="world"/>

  <link name="left_ee_mount"/>
  <xacro:crx5ia prefix="left_" parent="world" child="left_ee_mount">
    <origin xyz="$(arg left_xyz)" rpy="$(arg left_rpy)"/>
  </xacro:crx5ia>

  <link name="right_ee_mount"/>
  <xacro:crx5ia prefix="right_" parent="world" child="right_ee_mount">
    <origin xyz="$(arg right_xyz)" rpy="$(arg right_rpy)"/>
  </xacro:crx5ia>
</robot>
